h1 {
    text-align: center;
}

#chimg {
    width: 100%;
    text-align: center;
}

#upload {
    width: 100%;
    text-align: center;
    padding: 10px;
}
#img {
    width: 100%;
    text-align: center;
}