h1 {
    text-align: center;
}

#chimg {
    width: 100%;
    text-align: center;
}

#checkbox {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#upload {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#img {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}